:root {
  --mix--color: linear-gradient(156deg, rgba(244, 118, 218, 1) 8%, rgba(147, 86, 220, 1) 80%);
  --main-backgroud: #f2f2f2;
  --main-color-card: #FFFFFF;
  --shadow: 0px 4px 15px 0px #0000001A;
}

    
/* BODY */

body {
  width: 768px;
  background-color: var(--main-backgroud);
  margin: 0px;
  width: 100%;
}

body a {
  color: white;
  text-decoration: none;
}

/* FONT */
* {
  font-family: "roboto";
}

h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 0px 40px 0px 40px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {

  font-size: 24px;
  font-weight: 700;
  padding-left: 25px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  padding: 0px;
}

h5 {
  margin: 0px;
  font-size: 17px;
  font-weight: 300;
}


h6 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
  padding-bottom: 5px;
}


/* header */

.header__logo {
  height: 63px;
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  justify-content: center;
  position: relative;
}

.header__logo .header__img--logo {
  width: 197px;
  height: 36px;
}

.navBarre {
  gap: 15px;
  background: #EAEAEA;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__text {

  text-align: center;
  padding: 20px 0px 50px 0px;
}

.flex__btn {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.btn__header {
  height: 50px;
  border-radius: 25px;
  background: background linear-gradient(156deg, rgb(244, 118, 218) 8%, rgb(147, 86, 220) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 218px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
}


.btn__header:hover {

  background: linear-gradient(156deg, rgba(244, 118, 218, 1) 8%, rgba(147, 86, 220, 1) 150%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}


/* Fonctionnement */

section.Fonctionnement {
  background-color: white;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.Fonctionnement .contenaire_position {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

section.Fonctionnement .contenaire_position .contenaire_fonctionnement {
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 80vw;
  height: 72px;
  display: flex;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 20px;
}

section.Fonctionnement .contenaire_position .contenaire_fonctionnement .rond {
  display: flex;
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin-left: -14px;
  color: white;
  font-size: 14px;
}

/*contenaires restaurant*/
section.restaurant {
  padding: 20px 0px 80px 0px;
}

section.restaurant .restaurant_contenaire {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}


.new {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 60vw;
  top: 14px;
  z-index: 10;
}

.contenaire {
  position: relative;
  width: 85vw;
  height: 231px;
  border-bottom: solid white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}

.contenaire .contenaire__img {
  height: 70%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  object-fit: cover;
}

.contenaire_restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 23px 0px 0px;
}

.contenaire_restaurant .contenaire__text {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  padding: 0px 0px 11px 15px;
}

/* Check heart */

.heart {
  position: relative;
  display: inline-block;
}

/* Cache le bouton */
.heart .checkbox_heart {
  display: none;
}

/* place le bouton coeur plein */
.button_coeur {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* défini les propriété de l'animation et la couleur ainsi que la taille */
.button_coeur .fa-solid {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.6em;
  width: 36px;
  height: 32px;
  display: flex;
  background: linear-gradient(156deg, #f476da 8%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  justify-content: center;
}

/* Rend le coeur apparent au click  */
.checkbox_heart:checked+.button_coeur .fa-solid {
  opacity: 1;
}



/* FOOTER2 */

footer {
  background-color: #353535;
  color: white;
  width: 100%;
  height: 186px;
  display: flex;
  align-items: center;
}
footer article.footer__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 20px;
  gap: 8px;
}

.possibility {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
}

.possibility a i {
  margin-right: 8px;
}

.légality {
  display: flex;
  flex-direction: column;
  gap: 8px;
}