// CECI EST UN FICHIER DE CLASS GENERAL

// GENERAL BODY

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: inherit;
}

// COLOR

$Grey: #f3f3f3;
$contenaire: #f6f6f6;
$Green: #99E2D0;
$grass:#008766;
$blue:#89C8FA;
$night:#003A68;
$purple:#9356DC;
$white:#FFFFFF;
$black:#000000;
$shadow-contenaire:0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$shadow-button:0px 4px 10px 0px rgba(0, 0, 0, 0.25);
