@import "../reset.scss";

h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 0px 40px 0px 40px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  padding: 0px;
}


body { 
  background-color: $contenaire; 
}

@media (min-width: 1024px) {
    
  h1 {

      font-size: 40px;

  }
  
}


@media (min-width: 375px) and (max-width: 1023px) {
  h1 {

      font-size: 24px;

  }

}



