@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1440px) {
  section.operation .container_position,
  section.restaurant .restaurant_container,
  .operation-inner {
    margin: auto;
    max-width: 1440px;
  }
}
* {
  font-family: "roboto";
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h5 {
  margin: 0px;
  font-size: 17px;
  font-weight: 300;
}

p {
  font-weight: 500;
}

.header__logo {
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  justify-content: center;
  position: relative;
  height: 63px;
  z-index: 10;
}

.flex__btn {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.flex__btn .btn {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 26%, rgb(255, 121, 218) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease-out;
}

.btn:active {
  transform: translateY(1px);
  background: linear-gradient(0deg, rgb(147, 86, 220) 36%, rgb(255, 121, 218) 110%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

.heart {
  position: relative;
  display: inline-block;
  /* Cache le bouton */
}
.heart .checkbox_heart {
  display: none;
}

/* place le bouton heart plein */
.button_heart {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* défini les propriété de l'animation et la couleur ainsi que la taille */
.button_heart .fa-solid {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.6em;
  width: 36px;
  height: 32px;
  display: flex;
  background: linear-gradient(156deg, #f476da 8%, #9356dc 100%);
  background-clip: text;
  color: transparent;
  align-items: center;
  justify-content: center;
}

.button_heart:hover .fa-solid {
  opacity: 1;
  transform: scale(1);
}

/* Rend le heart apparent au click  */
.checkbox_heart:checked + .button_heart .fa-solid {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

footer {
  background-color: #353535;
  color: #ffffff;
  width: 100%;
  height: 186px;
  display: flex;
  align-items: center;
}
footer .footer__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 20px;
  gap: 8px;
}

.possibility {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
}

.possibility a i {
  margin-right: 8px;
}

.position {
  display: flex;
  align-items: center;
}

.legality {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h5.title_footer {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
  padding-bottom: 5px;
}

span.footer_link {
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}

i.fa-solid.fa-utensils.fa-sm,
i.fa-solid.fa-handshake-angle.fa-2xs {
  color: #ffffff;
}

@media (min-width: 1024px) {
  .header__logo {
    height: 96px;
    padding: 0px;
    display: flex;
    align-items: center;
    box-shadow: none;
  }
  .header__img--logo {
    width: 197px;
    height: 36px;
  }
  footer {
    flex-direction: row-reverse;
    height: 114px;
    padding-top: 30px;
  }
  footer .footer__article {
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
    padding-right: 70px;
  }
  .contenu_footer {
    display: flex;
  }
  .possibility {
    padding-right: 50px;
    flex-direction: row;
  }
  .legality {
    flex-direction: row;
  }
}
h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 15px;
  font-weight: 300;
  margin: 0px;
}

h2 {
  margin-left: 20px;
  border-bottom: solid 3px #99e2d0;
  display: inline-block;
  width: 40px;
}

.arrow-left {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

.header__logo {
  justify-content: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 1;
}

.fond-header {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;
}

/*BACKGROUND*/
.card-restaurant {
  background: #f6f6f6;
  max-width: 1055px;
  margin: auto;
}

.title_restaurant {
  border-radius: 24px;
  background-color: #f6f6f6;
  bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 0px;
  justify-content: center;
  position: relative;
  padding: 15px 0px;
  align-items: center;
  padding-top: 50px;
}

.title-menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.Positions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-menu {
  position: relative;
  overflow: visible;
  width: 95%;
  height: 72px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.plat-click-zone {
  position: absolute;
  inset: 0;
  z-index: 5;
  cursor: pointer;
}

.glisse {
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  right: 72px;
  height: 100%;
  display: flex;
  align-items: end;
  z-index: 2;
  white-space: nowrap;
  padding-bottom: 15px;
}

.price {
  font-weight: 700;
  font-size: 15px;
}

.titles {
  padding-left: 15px;
  min-width: 50px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

input:checked ~ .titles h3 {
  max-width: 60%;
}

input:checked ~ .titles h4 {
  max-width: 50%;
}

.titles h3,
.titles h4 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.check-bg-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  cursor: pointer;
  z-index: 1;
}

i.fa-solid.fa-circle-check {
  color: rgb(255, 255, 255);
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes back-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
input:checked ~ .check-bg-3 {
  animation: slide 0.3s ease-in-out forwards;
}

input:not(:checked) ~ .check-bg-3 {
  animation: back-slide 0.3s ease-in-out forwards;
}

.glisse:hover .container {
  animation: slide-12 0.3s ease-in-out forwards;
}

@keyframes slide-12 {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(-40%);
  }
}
@keyframes back-slide-12 {
  from {
    transform: translateX(-40%);
  }
  to {
    transform: translateX(200%);
  }
}
input:checked ~ .container {
  animation: slide-12 0.3s ease-in-out forwards;
}

input:not(:checked) ~ .container {
  animation: back-slide-12 0.3s ease-in-out forwards;
}

.glisse:hover .check-bg-3 {
  animation: slide 0.3s ease-in-out forwards;
}

input:hover ~ .titles h3 {
  max-width: 60%;
}

input:hover ~ .titles h4 {
  max-width: 50%;
}

.btn {
  width: 186px;
}

.flex__btn {
  padding-bottom: 40px;
  padding-bottom: 40px;
  background: #f6f6f6;
  max-width: 1055px;
  margin: auto;
}

@media (min-width: 1024px) {
  article.menu {
    width: 630px;
    margin: auto;
  }
  section.card-restaurant {
    margin: 0px 150px;
  }
  .fond-header {
    height: 383px;
  }
}
@media (min-width: 1440px) {
  section.card-restaurant {
    margin: 0px 150px;
  }
  .fond-header {
    height: 383px;
  }
}
@media (min-width: 1601px) and (max-width: 1900px) {
  section.card-restaurant {
    margin: 0px 150px;
  }
}/*# sourceMappingURL=main-restaurant.css.map */